@page
@model BrewBuddy.Pages.Assignments.AssignmentEdithModel
@{
}


<h2>Tilføj ny opgave</h2>
<form method="post" style="max-width: 600px; margin-top: 20px;">
    <div class="mb-3">
        <label for="Type" class="form-label">Opgave Type:</label>
        <input asp-for="NewAssignmenten.Type" type="text" class="form-control" required />
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Beskrivelse:</label>
        <input asp-for="NewAssignmenten.Description" type="text" class="form-control" required />
    </div>
    <div class="mb-3">
        <label for="IntervalType" class="form-label">Interval Type:</label>
        <input asp-for="NewAssignment.IntervalType" type="text" class="form-control" required />
    </div>
    <div class="mb-3">
        <label for="MachineId" class="form-label">Maskine ID:</label>
        <input asp-for="NewAssignment.MachineId" type="number" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-success">Tilføj</button>
</form>