@page
@model EditCoffieMachinesModel
@{
    ViewData["Title"] = "Rediger Kaffemaskiner";
}


<h1>Rediger Kaffemaskiner</h1>

<h2>Opret ny maskine</h2>
<form method="post">
    <input type="text" asp-for="NewMachine.Name" placeholder="Navn" required />
    <input type="text" asp-for="NewMachine.Location" placeholder="Lokation" required />
    <button style="background-color: #38281e; color: white" type="submit" formaction="/Machines/EditCoffieMachines?handler=Add">Tilføj</button>
</form>


<hr />

<h2>Eksisterende maskiner</h2>
@foreach (var machine in Model.coffieMachines)
{
    <div>
        <form method="post">
            <input type="hidden" name="MachineId" value="@machine.MachineId" />
            <input type="text" name="Name" value="@machine.Name" required />
            <input type="text" name="Lokation" value="@machine.Location" required />
            <button style="background-color: #38281e; color: white" class="text-button" type="submit" formaction="/Machines/UpdateMachine?handler=Update">Opdater</button>
            <button style="background-color: #38281e; color: white" type="submit" formaction="/Machines/EditCoffieMachines?handler=Delete">Slet</button>
           
        </form>
    </div>
}
